<h3>Lisää elokuva</h3>

<form name="infoForm" ng-controller="AddController">
    <p>
        <label>Nimi</label>
        <input class="form-control" name="title" type="text" ng-model="title" required ng-minlength="1">
    </p>
    <div ng-show="infoForm.title.$invalid && infoForm.title.$dirty">
        Nimi ei ole validi!
    </div>

    <p>
        <label>Ohjaaja</label>
        <input class="form-control" name="director" type="text" ng-model="director" required ng-minlength="1">
    </p>
    <div ng-show="infoForm.director.$invalid && infoForm.director.$dirty">
        Ohjaaja ei ole validi!
    </div>

    <p>
        <label>Julkaisuvuosi</label>
        <input class="form-control" name="year" type="text" ng-model="year" required ng-pattern="/^[0-9]{4}$/">
    </p>
    <div ng-show="infoForm.year.$invalid && infoForm.year.$dirty">
        Julkaisuvuosi ei ole validi!
    </div>

    <p>
        <label>Kuvaus</label>
        <textarea class="form-control" name="description" type="text" ng-model="description" required ng-minlength="1"></textarea>
    </p>
    <div ng-show="infoForm.description.$invalid && infoForm.description.$dirty">
        Kuvaus ei ole validi!
    </div>

    <p>
        <input class="btn btn-primary" type="submit" value="Lisää" ng-disabled="infoForm.$invalid" ng-click="addMovie()">
    </p>
</form>
