<h3>Elokuvat</h3>

<div ng-controller="ListController">
    <ul>
        <li ng-repeat="movie in movies">
            <a ng-href="#/movies/{{movie.$id}}">{{movie.title}}</a>
            <span ng-if="userLoggedIn"> – (<a href="" ng-click="removeMovie($index)">poista</a>)</span>
        </li>
    </ul>


    <h3>Etsi OMDb:stä</h3>

    Nimi: <input type="text" ng-model="searchTitle" id="searchTitle">
    <br>
    Julkaisuvuosi: <input type="text" ng-model="searchYear" id="searchYear">
    <br>

    <ng-pluralize ng-if="searchTitle || searchYear" count="omdbMovies.length"
                  when="{'0': 'Haulla ei löytynyt elokuvia.',
                  'one': 'Haulla löytyi 1 elokuva.',
                  'other': 'Haulla löytyi {} elokuvaa.'}">
    </ng-pluralize>
    <ul>

        <li ng-repeat="mov in omdbMovies">
            <a ng-href="http://www.imdb.com/title/{{mov.imdbID}}">{{mov.Title}} ({{mov.Year}})</a>
        </li>
    </ul>

</div>
