<h2>Kirjaudu sisään</h2>

<div ng-controller="UserController">
    <p>{{message}}</p>

    <label>Sähköposti</label>
    <input class="form-control" type="text" ng-model="email"><br>
    <label>Salasana</label>
    <input class="form-control" type="password" ng-model="password"><br>

    <a href="#/movies">
        <button class="btn btn-primary" ng-click="logIn()">Kirjaudu sisään</button>
    </a>

    <h2>Rekisteröidy</h2>

    <label>Sähköposti</label>
    <input class="form-control" type="text" ng-model="newEmail"><br>
    <label>Salasana</label>
    <input class="form-control" type="password" ng-model="newPassword"><br>

    <a href="#/movies">
        <button class="btn btn-primary" ng-click="register()">Rekisteröidy</button>
    </a>
</div>
