<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="bootstrap-3.3.2-dist/css/bootstrap.min.css">
        <title>Elokuvakirjasto</title>
    </head>
    <body ng-app="MovieApp">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Elokuvakirjasto</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#/movies">Elokuvat <span class="sr-only">(current)</span></a></li>
                        <li>
                            <a href="#/movies/new">Lisää elokuva</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#/movies/new">
                                <button class="btn btn-default" ng-click="logOut()" ng-if="userLoggedIn">Kirjaudu ulos</button>
                            </a>
                        </li>
                        <li>
                            <a href="#/login" ng-if="!userLoggedIn">Kirjaudu sisään</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container-fluid">
            <div ng-view></div>
        </div>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
        <script src="bower_components/angular-input-match/dist/angular-input-match.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/services/firebase_service.js"></script>
        <script src="app/services/omdb_service.js"></script>
        <script src="app/services/authentication_service.js"></script>
        <script src="app/controllers/add_controller.js"></script>
        <script src="app/controllers/list_controller.js"></script>
        <script src="app/controllers/show_controller.js"></script>
        <script src="app/controllers/edit_controller.js"></script>
        <script src="app/controllers/user_controller.js"></script>

        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <!-- Bootstrap -->
        <script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    </body>
</html>